.kvBox, .infoBox .content, .atcBox .content, .atcBox .content .atc .pic, .atcBox4 .content .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.kvBox {
  background: url(../images/kv1920.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}

@media all and (max-width: 769px) {
  .kvBox {
    background: url(../images/kv414.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }
}

@media all and (max-width: 415px) {
  .kvBox {
    background: url(../images/kv414.jpg) center no-repeat;
    background-size: cover;
    height: 100vh;
  }
}

.kvBox .kv {
  width: 800px;
  height: 992px;
  position: relative;
}

@media all and (max-width: 1367px) {
  .kvBox .kv {
    height: 800px;
  }
}

@media all and (max-width: 769px) {
  .kvBox .kv {
    width: 100%;
  }
}

@media all and (max-width: 415px) {
  .kvBox .kv {
    height: 100vh;
  }
}

.kvBox .kv .title {
  width: 70%;
  height: 280px;
  background: url(../images/kv_tt.gif) center no-repeat;
  background-size: cover;
  z-index: 2;
  position: absolute;
  top: 330px;
  right: initial;
  bottom: initial;
  left: 110px;
}

@media all and (max-width: 1367px) {
  .kvBox .kv .title {
    top: 240px;
    left: 50px;
  }
}

@media all and (max-width: 1025px) {
  .kvBox .kv .title {
    top: 290px;
    right: initial;
    bottom: initial;
    left: 0px;
  }
}

@media all and (max-width: 769px) {
  .kvBox .kv .title {
    top: 270px;
    left: 15%;
    height: 270px;
  }
}

@media all and (max-width: 640px) {
  .kvBox .kv .title {
    top: 270px;
    left: 89px;
    height: 224px;
    width: 69%;
  }
}

@media all and (max-width: 415px) {
  .kvBox .kv .title {
    width: 80%;
    height: 166px;
    left: 42px;
  }
}

@media all and (max-width: 376px) {
  .kvBox .kv .title {
    height: 150px;
    top: 210px;
  }
}

@media all and (max-width: 321px) {
  .kvBox .kv .title {
    height: 129px;
    top: 200px;
  }
}

.kvBox .kv .title .tt_pic {
  position: absolute;
}

.kvBox .kv .title .tt_pic img {
  width: 100%;
}

.kvBox .kv .title .tt_pic.tt_pic1 {
  width: 60px;
  height: auto;
  top: 40%;
  right: initial;
  bottom: initial;
  left: 3%;
}

@media all and (max-width: 415px) {
  .kvBox .kv .title .tt_pic.tt_pic1 {
    width: 37px;
    height: auto;
    top: 37%;
    right: initial;
    bottom: initial;
    left: 2%;
  }
}

@media all and (max-width: 376px) {
  .kvBox .kv .title .tt_pic.tt_pic1 {
    width: 33px;
    height: auto;
    top: 38%;
    right: initial;
    bottom: initial;
    left: 2%;
  }
}

.kvBox .kv .title .tt_pic.tt_pic2 {
  width: 50px;
  height: auto;
  top: 33%;
  right: initial;
  bottom: initial;
  left: 37%;
}

@media all and (max-width: 415px) {
  .kvBox .kv .title .tt_pic.tt_pic2 {
    width: 30px;
  }
}

.kvBox .kv .title .tt_pic.tt_pic3 {
  width: 50px;
  height: auto;
  top: 33%;
  right: initial;
  bottom: initial;
  left: 74%;
}

@media all and (max-width: 415px) {
  .kvBox .kv .title .tt_pic.tt_pic3 {
    width: 30px;
  }
}

.kvBox .kv .title .tt_pic.tt_pic4 {
  width: 50px;
  height: auto;
  top: 33%;
  right: 0%;
  bottom: initial;
  left: initial;
}

@media all and (max-width: 415px) {
  .kvBox .kv .title .tt_pic.tt_pic4 {
    width: 30px;
  }
}

.kvBox .kv .circle {
  position: absolute;
  top: 210px;
  right: -10px;
  bottom: initial;
  left: initial;
  width: 70%;
  height: auto;
}

@media all and (max-width: 1367px) {
  .kvBox .kv .circle {
    top: 120px;
    right: -10px;
  }
}

@media all and (max-width: 1025px) {
  .kvBox .kv .circle {
    top: 120px;
    right: 0px;
  }
}

@media all and (max-width: 769px) {
  .kvBox .kv .circle {
    width: 93%;
    top: 75px;
    right: 28px;
  }
}

@media all and (max-width: 640px) {
  .kvBox .kv .circle {
    top: 90px;
  }
}

@media all and (max-width: 415px) {
  .kvBox .kv .circle {
    top: 160px;
    left: 0;
    width: 100%;
  }
}

@media all and (max-width: 376px) {
  .kvBox .kv .circle {
    top: 110px;
  }
}

@media all and (max-width: 321px) {
  .kvBox .kv .circle {
    top: 111px;
  }
}

.kvBox .kv .circle .cc_pic {
  width: 100%;
  height: auto;
  position: absolute;
  top: initial;
  right: initial;
  bottom: initial;
  left: initial;
}

.kvBox .kv .circle .cc_pic img {
  width: 100%;
}

.infoBox {
  background: url(../images/info_bg.jpg) center repeat;
  background-size: contain;
}

.infoBox .content {
  width: 1100px;
  max-width: 100%;
  margin: auto;
  padding: 40px 0;
  position: relative;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 40px 10px;
}

@media all and (max-width: 640px) {
  .infoBox .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
}

.infoBox .content .info_title {
  width: 20%;
  height: auto;
}

.infoBox .content .info_title img {
  width: 100%;
}

@media all and (max-width: 640px) {
  .infoBox .content .info_title {
    width: 40%;
    padding-left: 30px;
  }
}

@media all and (max-width: 415px) {
  .infoBox .content .info_title {
    width: 60%;
  }
}

.infoBox .content .info_words {
  width: 80%;
  color: #0356b4;
  font-size: 18px;
  padding: 30px;
}

@media all and (max-width: 640px) {
  .infoBox .content .info_words {
    width: 100%;
  }
}

.infoBox .content .info_words p {
  line-height: 2rem;
  padding-bottom: 15px;
  text-align: justify;
}

.atcBox {
  width: 100%;
  height: auto;
  background: url(../images/atc1_bg.jpg) center no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.atcBox .title {
  text-align: center;
  padding: 80px 0 20px 0;
}

.atcBox .title img {
  width: 50px;
  height: auto;
}

.atcBox .title h2 {
  color: #0356b4;
  font-size: 45px;
}

@media all and (max-width: 640px) {
  .atcBox .title h2 {
    font-size: 35px;
  }
}

.atcBox .content {
  width: 1100px;
  max-width: 100%;
  margin: auto;
  padding: 40px 0;
  position: relative;
}

.atcBox .content .atc {
  width: 33.33333%;
  position: relative;
  overflow: hidden;
  margin: 10px 0;
  padding: 10px;
}

@media all and (max-width: 640px) {
  .atcBox .content .atc {
    width: 86%;
    padding-bottom: 30px;
  }
}

.atcBox .content .atc:hover .more {
  letter-spacing: 2px;
}

.atcBox .content .atc:hover .pic img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.atcBox .content .atc .pic {
  border-radius: 10px;
  overflow: hidden;
}

.atcBox .content .atc .words {
  padding: 20px 0;
}

.atcBox .content .atc .words h3 {
  font-size: 24px;
  color: #0356b4;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.atcBox .content .atc .words p {
  color: #3e4142;
  font-size: 18px;
  padding: 10px 0;
}

.atcBox .content .atc .words .more {
  background-color: #0356b4;
  display: inline-block;
  padding: 6px 16px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.atcBox .content .atc a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.atcBox2 {
  background: url(../images/atc2_bg.png) bottom right no-repeat;
  background-size: auto;
  background-color: #fff;
  position: relative;
}

.atcBox2 .content .atc {
  width: 30%;
  margin: 10px 0;
  padding: 10px;
}

@media all and (max-width: 640px) {
  .atcBox2 .content .atc {
    width: 86%;
    padding-bottom: 30px;
  }
}

.atcBox2 .content .atc .pic {
  height: 360px;
}

.atcBox2 .content .atc .pic img {
  width: auto;
  height: 100%;
}

.atcBox2 .content .atc .words {
  background: #fff;
  width: 90%;
  margin-top: -50px;
  margin-left: 39px;
  position: relative;
  z-index: 2;
  padding: 20px;
}

.atcBox2 .content .atc .words h3 {
  font-size: 21px;
}

@media screen and (min-width: 768px) {
  .atcBox2 .content .atc .words h3 {
    height: 93px;
  }
}

.atcBox2 .content .atc .words p {
  line-height: 2rem;
  letter-spacing: 1px;
  padding: 10px 0;
  font-size: 16px;
  color: #5e5e5e;
}

.atcBox2 .content .atc .words p.more {
  color: #0356b4;
  padding: 0;
  background: none;
  border-bottom: 1px #0356b4 solid;
}

.atcBox2 .content .atc2_icon1 {
  width: 120px;
  height: auto;
  position: absolute;
  top: initial;
  right: -100px;
  left: initial;
  bottom: 0;
}

@media all and (max-width: 640px) {
  .atcBox2 .content .atc2_icon1 {
    width: 80px;
    height: auto;
    position: absolute;
    top: -210px;
    right: 26px;
    left: initial;
    bottom: initial;
  }
}

.atcBox2 .content .atc2_icon2 {
  width: 140px;
  height: auto;
  position: absolute;
  top: initial;
  right: initial;
  left: -100px;
  bottom: 0;
}

@media all and (max-width: 640px) {
  .atcBox2 .content .atc2_icon2 {
    width: 67px;
    height: auto;
    position: absolute;
    top: initial;
    right: initial;
    left: 7px;
    bottom: 35%;
  }
}

.atcBox3 {
  background: #e5f5fc;
  overflow: hidden;
}

.atcBox3 .content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.atcBox3 .content .atc {
  padding: 20px;
  margin: 20px 0;
}

@media all and (max-width: 640px) {
  .atcBox3 .content .atc {
    padding: 0px;
  }
}

.atcBox3 .content .atc3_icon1 {
  width: 380px;
  height: auto;
  position: absolute;
  top: -100px;
  right: -80px;
  left: initial;
  bottom: initial;
}

@media all and (max-width: 415px) {
  .atcBox3 .content .atc3_icon1 {
    width: 289px;
    height: auto;
    position: absolute;
    top: -20px;
    right: -30px;
    left: initial;
    bottom: initial;
  }
}

.atcBox3 .content .atc3_icon2 {
  width: 160px;
  height: auto;
  position: absolute;
  top: initial;
  right: initial;
  left: 0px;
  bottom: 100px;
}

@media all and (max-width: 415px) {
  .atcBox3 .content .atc3_icon2 {
    width: 120px;
    height: auto;
    position: absolute;
    top: initial;
    right: -78px;
    left: initial;
    bottom: 20px;
  }
}

.atcBox4 {
  background: url(../images/atc4_bg.jpg) center no-repeat;
  background-size: cover;
  padding: 50px 0 100px 0;
}

.atcBox4 .content .box {
  width: 300px;
  height: 176px;
  position: relative;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  margin: 10px;
  padding: 10px;
}

.atcBox4 .content .box:hover {
  margin-top: -10px;
}

.atcBox4 .content .box::before {
  content: "";
  width: 95%;
  height: 90%;
  position: absolute;
  top: 50%;
  right: initial;
  left: 50%;
  bottom: initial;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 1px #fff solid;
  z-index: 2;
}

.atcBox4 .content .box::after {
  content: "";
  background-color: rgba(0, 140, 161, 0.8);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: initial;
  left: 0;
  bottom: initial;
  z-index: 1;
}

.atcBox4 .content .box.box1 {
  background: url(../images/atc4_pic1.jpg) center no-repeat;
  background-size: cover;
}

.atcBox4 .content .box.box2 {
  background: url(../images/atc4_pic1.jpg) center no-repeat;
  background-size: cover;
}

.atcBox4 .content .box.box3 {
  background: url(../images/atc4_pic1.jpg) center no-repeat;
  background-size: cover;
}

.atcBox4 .content .box p {
  text-align: center;
  color: #fff;
  font-size: 18px;
  padding: 0 20px;
  z-index: 3;
}

.atcBox4 .content .box a {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 4;
}
/*# sourceMappingURL=style.css.map */