body {
  background-color: #ffffff;
  color: #333;
  /* outline: #333 solid 1px; */
  position: relative;
  font-family: "Helvetica",Arial, "Noto Sans TC","LiHei Pro  Medium", "Microsoft JhengHei", "PMingLiU", sans-serif;
  margin: 0;
}

section{
  padding: 0 10px;
}

img{
  vertical-align: middle;
  width: 100%;
}

.index a h2{
  color: #444;
}

.index a{
  color: #666;
}

.index a:visited{
  color: #777;
}

a{
  text-decoration: none;
  font-weight: 900;
}

a:visited{
  text-decoration: none;
  color: #568929;
}

header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  /* padding-bottom: 10px; */
  /* border-bottom: 1px solid #aaa; */
  box-shadow: #ddd 0px 0px 10px;
  background-color: #fff;
  /* background-color: rgba(211, 211, 211, 0.783); */
}

header:after{
    clear: both;
    display: block;
    content: '';
}

.logo {
  width: 10%;
  display: block;
  margin: 20px auto;
  min-width: 100px;
}

.icon_group {
  margin: auto;
   text-align: center; 
   position: fixed; 
   bottom: 0; 
   width: 100%; 
  display: flex;
  background-color: #fff;
  box-shadow: #ddd 0px 0px 10px;
  z-index: 10;
}

.icon_group img {
  width: 50%;
  opacity: 0.7;
  margin: 10%;
}

.icon_group a{
  /* background-color: #333 */
}

@media screen and (min-width: 768px) {
  .icon_group {
    width: initial;
    margin: auto;
    /* text-align: center; */
    box-shadow: transparent 0px 0px 10px;
    position: absolute;
    right: 20px;
    top: 22px;
  }
  .icon_group img {
    width: 33px;
    opacity: 0.7;
    margin: 5px;
  }
}

section{
    max-width: 1200px;
    margin: auto;
}

/* section1 */
.section1{
  margin-top: 160px;
}

.section1_con{
  display: flex;
  box-shadow: #ddd 0px 0px 5px;
}

.section1_inner_right{
  /* background: linear-gradient(45deg,#DABB86,#DECBA1)  ; */
  color: #333;
  width: 35%;
  padding: 50px 3%;
  font-size: 15px;
  line-height: 30px;
}

.section1_inner_right a{
  /* color: #fff; */
  text-decoration: none;
}

.section1_inner_left{
  width: 65%;
}

.more{
  background-color: #333;
  color: #fff;
  padding: 15px 25px;
}

.vera{
  width: 100%;
}


/* section2 */
.section2{
  margin-top: 60px;
}

.section2_con{
  display: flex;
  flex-wrap: wrap;
}

.section2_con_group{
  display: flex;
  max-width: 1200px;
  margin: auto;
  width: 100%;
}

.section2_con_left{
  width: 80%;
}

.section2_con_right{
  width: 20%;
}

.section2_inner{
  width: 28%;
  padding: 3% 1.5%;
  margin: 1%;
  box-shadow: #ddd 0px 0px 10px;
}

.section2_inner img{
  /* width: 55%; */
  margin: auto;
  min-height: 150px;
  max-height: 150px;
  height: 100%;
}

.section2_inner_up{
  text-align: center;
}

.section2_inner_down{
  text-align: center;
}


/* footer */
footer{
  box-shadow: #ddd 0px 0px 10px;
  padding: 20px;
  /* position: relative; */
  bottom: 0;
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
  z-index: 100;
  margin-bottom: 70px;
}

@media screen and (min-width: 768px) {
  footer{
    box-shadow: #ddd 0px 0px 10px;
    padding: 20px;
    /* position: relative; */
    bottom: 0;
    font-size: 12px;
    text-align: center;
    margin-top: 100px;
    z-index: 100;
    margin-bottom: 0;
  }
}

/* study_diary */
.study_section1{
    max-width: 800px;
    margin: auto;
    margin-top: 150px;
}

blockquote{
  border: #aaa 1px solid;
  padding: 10px;
}
pre{
  border: 1px solid #ddd; 
  padding: 5px;
}

.article_img{
  width: 100%;
  margin: 10px 5px;
  padding: 5px;
}